* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-black {
  background-color: black;
}

.container {
  /* border: 2px solid red; */
  margin: 0px 180px;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
}

.sidebar {
  border: 2xp solid red;
  background-color: #0060df;
  color: white;
  grid-row: 1 / 3;
}

/* icons*/

.options li img,
.navigate li img,
.logo li img {
  width: 25px;
  height: 25px;
  padding-right: 5px;
  vertical-align: middle;
  filter: invert(100%); /*I have to find a better solution for SVG img*/
}

.logo {
  padding-bottom: 50px;
  font-size: 25px;
  font-weight: bold;
}

/* .navigate {
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 35px;
} */

.navigate ul,
.options ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.options ul {
  margin-top: 50px;
}

.logo ul {
  margin-top: 20px;
}

.sidebar-op {
  margin-left: 40px;
}

.navigate li,
.options li,
.header-bottom li,
.logo li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.header-top {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.header-top img {
  width: 25px;
  height: 25px;
  padding-right: 5px;
  vertical-align: middle;
}

.search {
  padding-left: 20px;
}

input[type="search"] {
  width: 600px;
  height: 30px;
  padding: 0 15px;
  font-size: 18px;
  border-style: none;
  background-color: rgb(243, 235, 235);
  border-radius: 25px;
}

.icons {
  display: flex;
  gap: 15px;
  padding-right: 80px;
}

.icons img {
  height: 30px;
  width: 30px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

/* .icons {
  te
} */

/* .header-top {
  display: flex;
  flex-direction: column;
  justify-content: ;
} */
